.clickerDiv
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    margin-left: -300px

    &:hover
        cursor: url('../../Asset/Cursor/curseur2.png'), auto

    &:active
        cursor: url('../../Asset/Cursor/curseur3.png'), auto

    .character
        position: relative
        width: 700px
        height: auto
        display: flex

        .teteContante
            position: absolute
            top: -48%
            left: 66%
            transform: translateX(-50%)
            width: 270px

            &.floating
                animation: floatU 4s ease-in-out infinite

            &.animate
                animation: clickDown 0.27s ease forwards

        .corp
            width: 100%


    @keyframes floatU
        0%
            transform: translateX(-50%) translateY(0)
        50%
            transform: translateX(-50%) translateY(15px)
        100%
            transform: translateX(-50%) translateY(0)

    @keyframes clickDown
        0%
            transform: translateX(-50%) translateY(0)
        50%
            transform: translateX(-50%) translateY(100px)
        100%
            transform: translateX(-50%) translateY(0)
